@page "/"

<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<h1><b>Welcome to BlazorAlgorithms!</b></h1>
<p>A place where you can utilize various data algorithms and compare their efficiency. 
    <br>This tool provides you a variety of algorithms specifically designed for: </p>
<ul>
    <li>Sorting</li>
    <li>Searching</li>
</ul>
</body>
</html>